.top_bar {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 1px 1px rgba(17, 16, 16, 0.5);
    padding: 0px 0;
    min-height: 8vh;
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: #fff;
}

/* Logo Style */
.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.logo-brand {
    text-decoration: none;
    color: #000;
}

.logo-brand:hover {
    text-decoration: none;
    color: #000;
}

.logo-brand h4 {
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 400;

}

.logo-brand h4 span {
    color: #009688;
    letter-spacing: 1px;
    font-weight: 1000;
    font-weight: 400;

}

/* Navlink Styles */


.nav-link-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 30%;
    padding-top: 8px;
}

.nav-link {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    color: rgb(27, 25, 25);
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #049688
}

.nav-link-wrapper:nth-child(2) {
    cursor: pointer
}

/* Icons Style */

.icons {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    color: rgb(27, 25, 25);
}

.icon-item {
    padding-top: 8px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 50px;
    margin: 20px;
    color: black;
    font-size: 26px
}

.cart-wrapper {
    position: relative;
}


.cart-count {
    position: absolute;
    right: 8px;
    top: 12px;
    padding: 1px 2px;
    background-color: #049688;
    color: white;
    width: 20px;
    text-align: center;
    border-radius: 9px;
}